/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.env.app
.env.runtime
.env.ssr
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/docker/quadlet/extonan.env
/.vscode
/.zed
/config/*
!/config/*.php
!/config/**/*.php
/data
_ide_helper.php
