APP_NAME=extonan
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_PORT=8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=extonan
DB_USERNAME=extonan
DB_PASSWORD=password
#make sure it matches
POSTGRES_PASSWORD=password
POSTGRES_DB=extonan
POSTGRES_USER=extonan

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=rustfs
QUEUE_CONNECTION=database

CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=password

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@extonan.id"
MAIL_FROM_NAME="${APP_NAME}"

SCOUT_DRIVER=meilisearch
SCOUT_QUEUE=true
MEILISEARCH_HOST=http://127.0.0.1:7700

OCTANE_SERVER=frankenphp

RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
RUSTFS_BUCKET=extonan
RUSTFS_ENDPOINT=http://127.0.0.1:9000
RUSTFS_URL=http://localhost:9000

INERTIA_SSR_ENABLED=true
INERTIA_SSR_URL=http://127.0.0.1:13714
INERTIA_SSR_ENSURE_BUNDLE_EXISTS=false

RUNNING_MIGRATIONS=true
SUPERVISOR_PHP_USER=root

CONTAINER_MODE=app
PHP_CLI_SERVER_WORKERS=4
